name: Android CI

on: [pull_request, push]

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Gradle
        run: ./gradlew assembleRelease
      - name: ls
        run: ls
      - name: Archive production artifacts
        uses: actions/upload-artifact@v1
        with:
          name: compiled
          path: app/build/
